if case1:
    prform action1

elif case2:
    perform action2
    
else:
    perform action3

In [1]:
a = 100
b = 50
if a > b:
    print("a is greater than b")

a is greater than b

In [4]:
a = 100
b = 50
if a < b:
    print("a is less than b")
    
print("My name")

My name

In [3]:
val = 200
if val:
    print('value')
    print(val)

value
200

In [6]:
if True:
    print("It is true")
    print(8*9)

It is true
72

In [7]:
if False:
    print("It is true")
    print(8*9)

In [8]:
x = False

if x:
    print('x was true')
    
else:
    print('I will be printed in any case whether x is true or not')

I will be printed in any case whether x is true or not

In [9]:
p = 10
q = 20

if p+q > 0:
    print('sum is positive')
    
else:
    print('sum is negative')

sum is positive

In [10]:
p = 10
q = -20

if p+q > 0:
    print('sum is positive')
    
else:
    print('sum is negative')

sum is negative

In [12]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to Auto Shop')
    
elif loc == 'car':
    print('Welcome to Bank')
    
else:
    print('Where are you')

Where are you

In [13]:
num = 10

if None:
    print('Number is positive')
    
print('This will print always')

This will print always

In [15]:
num = 0
if num > 0:
    print("positive Number")
    
else:
    print("Negative Number")

Negative Number

In [17]:
num = -2
if num > 0:
    print("positive Number")
    
elif num == 0:
    print("Zero")
    
else:
    print("Negative Number")

Negative Number

In [18]:
# Nested if(if inside if)

In [20]:
num = -20

if num >=0:
    if num == 0:
        print('zero')
        
    else:
        print('positive number')
        
else:
    print("Negative Number")

Negative Number

# Write a program to find the largest number among the three number

In [23]:
num1 = 10
num2 = 50
num3 = 15

if (num1 >= num2) and (num1 >= num3):
    largest = num1
    
elif (num2 >= num1) and (num2 >= num3):
    largest = num2

else:
    largest = num3
    
print(f"Largest element amoung th three numbers is : {largest}")

Largest element amoung th three numbers is : 50

In [25]:
num1=10
num2=50
num3=100
#find largest among the 3 numbers
if num1>num2:
    if num1>num3:
        print("Num1 is largest.")
    elif num3>num2:
        print("Num3 largest.")
elif num2>num3:
    print("Num2 is largest.")

In [27]:
Total_price = int(input("Enter Price: "))
if Total_price < 100:
    discount = Total_price * .04
    print("Discount :" + str(discount))
    
else:
    discount = Total_price * .1
    print("Discount : " + str(discount))
    
print("Net Payable Amount: ", Total_price - discount)

Enter Price: 50
Discount :2.0
Net Payable Amount:  48.0

In [28]:
Total_price = int(input("Enter Price: "))
if Total_price < 100:
    discount = Total_price * .04
    print("Discount :",discount)
    
else:
    discount = Total_price * .1
    print("Discount : ", discount)
    
print("Net Payable Amount: ", Total_price - discount)

Enter Price: 40
Discount : 1.6
Net Payable Amount:  38.4

In [ ]:
Total_price < 100
discount = 4 percent

Total_price < 500
discount = 8 percent
 
Total_price < 1000
discount = 10 percent

Total_price >= 1000
discount = 12 percent

In [30]:
Total_price = int(input("Enter Price: "))
if Total_price < 100:
    discount = Total_price * .04
    print("Discount :",discount)

elif Total_price < 500:
    discount = Total_price * .08
    print("Discount :",discount) 
    

elif Total_price < 1000:
    discount = Total_price * .1
    print("Discount :",discount)    
        
    
else:
    discount = Total_price * .12
    print("Discount : ", discount)
    
print("Net Payable Amount: ", Total_price - discount)

Enter Price: 900
Discount : 90.0
Net Payable Amount:  810.0

In [ ]:
# range function

In [ ]:
for i in range(10):

In [31]:
range(10)

range(0, 10)

In [33]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
range(10) = (0,1,2,3,4,5,6,7,8,9)

In [37]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in (0,1,2,3,4,5,6,7,8,9):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(0 , 20 ,5):
    print(i)

0
5
10
15

In [36]:
for i in range(100 , 300, 20):
    print(i)

100
120
140
160
180
200
220
240
260
280